.Logodiv>h5 {
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    margin: auto;
}

.login-section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logodiv>p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.form {
    width: 330px;
    margin: auto;
}

.Formlabel {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #858585;
}

#InputEmail1,
#InputPassword1 {
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    padding: 10px;
}

.iconposition {
    position: relative;
    width: 100%;
}

.icons {
    color: #858585;
    position: absolute;
    right: 13px;
    top: 52px;
    font-size: 20px;
}

.maindiv {
    background: #fff !important;
}

.errormsg{
    color: red;
}


